@{
    ViewData["Title"] = "Hello";
    Layout = "_Layout";
}

<h1 class="greeting">xin chào</h1>

<div class="nav-links">
    <a href="/Hello/BaiTap2" class="btn">Xem Sản Phẩm</a>
    <a href="/Student" class="btn">Thông Tin Sinh Viên</a>
    <a href="/" class="btn">Trang Chủ</a>
</div>
